@import '../variables.scss';

// currency exchanger module
.currency-exchanger {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 40px;

    & .cta {
        width: 100%;
        margin: 20px auto;
    }

    &_form {
        padding-bottom: 10px;
    }

    &_hystory-title {
        padding-bottom: 20px;

        & .sub-title-sm {
            margin-bottom: 0;
        }

        & .text {
            padding-bottom: 0;
            color: $color-five;
        }
    }
}